body, html {
    height: 100%;
    font-family: 'Italiana', serif;
    font-weight: bold;
}

.navbar {overflow: hidden; display: flex; justify-content: space-around; }

.heading { width: 30px; height: 30px; }

.navbar a {
    font-family: 'Italiana', serif;
    color: #25274d;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.navbar a:hover { background-color: #25274d; color: #ffffff; transition: 0.3s; border-radius: 20px; }

.hero-img {
    text-align: center;
    font-family: 'Italiana', serif;
    width: 100%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/records.jpg");
}

.hero-text { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; }

.hero-img button { border-radius: 5px; border: none; text-decoration: none; font-size: 20px; }

.hero-img button:hover { background-color: #25274d; color: #ffffff; transition: 0.3s; }

#opening {
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    color: #25274d;
}

.gallery {
    text-align: center;
    margin: 80px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}

.row { display: flex; flex-wrap: wrap; padding: 0 4px; }
  
.column { flex: 25%; max-width: 40%; padding: 0 4px; }
  
.column img { margin-top: 8px; vertical-align: middle; width: 100%; }
  
@media screen and (max-width: 800px) {
    .column { flex: 50%; max-width: 50%; }
}
  
@media screen and (max-width: 600px) {
    .column { flex: 100%; max-width: 100%; }
}

.gallery:hover { border: 1px solid #777; transition: 1s; }

.desc { padding: 15px; text-align: center; font-size: 40px; }

.hero-img h2 {
    color: #ffffff;
}

.hero-img .login-page {
    background: linear-gradient(rgba(109, 107, 107, 0.76), rgba(0, 0, 0, 0.5));
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.login-page a{ text-decoration: none; font-weight: bold; color: #ffffff; }



.hero-img .signup-page {
    background: linear-gradient(rgb(58, 58, 58), rgba(0, 0, 0, 0.5));
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.signup-page a{ text-decoration: none; font-weight: bold; color: #ffffff; }

.shoptitle {
    text-align: center;
}

.bookshop img{
    width: 200px;
    height: auto;
}








  







